<!-- source: https://github.com/gadenbuie/garrickadenbuie-com/blob/main/_partials/title-block-link-buttons/title-block.html -->
<!-- 
<header id="title-block-header" class="quarto-title-block default">
<div class="quarto-title"> 
-->
<!-- <header id="title-block-header" class="quarto-title-block default page-columns"> -->
<!-- <div class="quarto-title page-columns page-full featured-image p-4" style="background-image: url(featured.png), url(featured.jpg), url(../featured.jpg);"> -->
    <header id="title-block-header" class="quarto-title-block default page-columns">
        <div id="title-block-header-title" class="quarto-title page-columns page-full page-layout-full featured-image p-4" style="background-image: url(featured.png), url(featured.jpg), url(../featured.jpg);">
        <h1 class="title">$title$</h1>
        $if(subtitle)$
        <p class="subtitle lead">$subtitle$</p>
        $endif$
        $if(categories)$
          $if(quarto-template-params.title-block-categories)$
          <div class="quarto-categories">
            $for(categories)$
            <div class="quarto-category">$categories$</div>
            $endfor$
          </div>
          $endif$
        $endif$
        </div>
        
        $if(hide-description)$
        $elseif(description)$
        <div>
          <div id="title-block-title-desc" class="description pt-4">
            $description$
          </div>
        </div>
        $endif$
        
        $title-metadata.html()$
        
        $if(links)$
        <div class="mt-4 d-flex flex-row flex-wrap gap-1 justify-content-left justify-content-sm-start" role="group" aria-label="Links">
        $for(links)$
        <a href="$links.url$" class="btn btn-secondary text-capitalize"><i class="bi bi-$links.icon$ me-1"></i> $links.name$</a>
        $endfor$
        </div>
        $endif$
        
        </header>