```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
<div class="li2" "li" <%= metadataAttrs(item) %>>
<a href="<%- item.path %>" rel="noopener noreferrer" style="text-decoration: none">
<span class="h4 publication-title"><%= item.title %></span><span style="float:right;"></span><br />
</a>
<span class="listing-author"><%= item.author %></span><br />
<% if (item.container) { %>
<span class="publication-container"><%= item.container %></span>, <span class="publication-date"><%= item.date %></span><br />
<% } %>
<% if (item.slides) { %>
<a href="<%- item.slides %>" class="btn btn-secondary-slides" target="_blank" rel="noopener noreferrer">
<i class="bi bi-tv"></i>&nbsp;&nbsp;Presentation
</a>
<% } %>
<% if (item.video) { %>
<a href="<%- item.video %>" class="btn btn-secondary-video" target="_blank" rel="noopener noreferrer">
<i class="bi bi-tv"></i>&nbsp;&nbsp;Video
</a>
<% } %>
<% if (item.extsite) { %>
<a href="<%- item.extsite %>" class="btn btn-secondary-website" target="_blank" rel="noopener noreferrer">
<i class="bi bi-link-45deg"></i>&nbsp;&nbsp;Website
</a>
<% } %>
<% if (item.hal) { %>
<a href="<%- item.hal %>" class="btn btn-secondary-hal" target="_blank" rel="noopener noreferrer">
<i class="ai ai-hal"></i>&nbsp;&nbsp;HAL
</a>
<% } %>
<% if (item.doi) { %>
<a href="<%- item.doi %>" class="btn btn-secondary-doi" target="_blank" rel="noopener noreferrer">
<i class="ai ai-doi"></i>&nbsp;&nbsp;DOI
</a>
<% } %>
<% if (item.pdf) { %>
<a href="<%- item.pdf %>" class="btn btn-secondary-pdf" target="_blank" rel="noopener noreferrer">
<i class="bi bi-file-pdf-fill"></i>&nbsp;&nbsp;PDF
</a>
<% } %>
<% if (item.repo) { %>
<a href="<%- item.repo %>" class="btn btn-secondary-repo" target="_blank" rel="noopener noreferrer">
<i class="bi bi-github"></i>&nbsp;&nbsp;Source code
</a>
<% } %>
</div>
<% } %>
</ul>
```